doctype html
html
    head
        title Simple Math Puzzles
        link(rel="stylesheet" type="text/css" href="./css/game.css")
    body
        #master
            #game
            #info
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="./js/game.js")